.header {
  width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  display: block;
  padding: 24px 0;
  position: absolute;
  left: 0px;
}

.headerNav {
  display: flex;
  gap: 32px;
}

.headerLinkNav {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.3s ease-in-out;
}

.headerLinkNav:hover,
.headerLinkNav:focus {
  color: var(--button-hover);
}

.headerLinkNavActive {
  color: var(--button-hover);
}
