.booking {
  border: 1px solid var(--gray-light);
  padding: 43px 56px;
  border-radius: 10px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  min-width: 641px;
  min-height: 588px;
}

.bookingContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.bookingTitle {
  font-size: 20px;
  line-height: 1.2;
}

.bookingText {
  line-height: 1.5;
  color: var(--gray);
}

.bookingForm {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: var(--inputs);
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
  outline: none;
}

.input::placeholder {
  color: var(--gray);
}

.textarea {
  resize: none;
  height: 118px;
}
.errorBox {
  min-height: 14px;
  font-size: 12px;
  color: transparent;
  padding-left: 18px;
}

.error {
  color: var(--button);
}

.btnBox {
  margin: 0 auto;
}

.sendBtn {
  margin-top: 24px;
  max-width: 166px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  background-color: var(--button);
  padding: 16px 64px;
  transition: background-color 0.3s ease-in-out;
}

.sendBtn:hover,
.sendBtn:focus {
  background-color: var(--button-hover);
}
