.sidebarForm {
  width: 360px;
}

.filtersContainer {
  margin: 40px 0 40px 0;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.filtersTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filtersSectionTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

.filtersSectionLine {
  border: 1px solid var(--gray-light);
}
