.locationContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationLabel {
  line-height: 1.5;
  color: var(--gray);
}

.locationInputContainer {
  position: relative;
}

.locationInput {
  line-height: 1.5;
  color: var(--main);
  background-color: var(--inputs);
  border: none;
  border-radius: 12px;
  padding: 18px 18px 18px 46px;
  min-width: 360px;
  outline: none;
}

.locationInput::placeholder {
  color: var(--gray);
}

.locationIcon {
  position: absolute;
  top: 50%;
  left: 18px;
  fill: var(--gray);
  transform: translateY(-50%);
  transition: fill 300ms ease-in-out;
}

.locationInputContainer:hover .locationIcon,
.locationInputContainer:focus-within .locationIcon {
  fill: #101828;
}
