.reviews {
  display: flex;
  gap: 44px;
  flex-direction: column;
}

.reviewItem {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.reviewItemHeader {
  display: flex;
  gap: 16px;
  align-items: center;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: var(--badges);
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstLater {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--button);
}

.reviewerInfo {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.reviewName {
  font-weight: 500;
  line-height: 1.5;
}

.starEmpty {
  fill: var(--badges);
}

.starFilled {
  fill: var(--rating);
}

.reviewItemText {
  line-height: 1.5;
  color: var(--text);
}
