.equipmentList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.equipmentItem {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  background-color: var(--badges);
  border-radius: 100px;
  padding: 12px 18px;
  mix-blend-mode: multiply;
}

.equipmentContent {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.icon {
  fill: var(--main);
}
