.hero {
  width: 100%;
  min-height: 696px;
  background-image: url("/images/homePage/Picture-1x.png");
  background-image: image-set(
    url("/images/homePage/Picture-1x.png") 1x,
    url("/images/homePage/Picture-2x.png") 2x
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.heroContainer {
  width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.heroBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.heroTitle {
  font-size: 48px;
  line-height: 0.66;
  color: var(--inputs);
}

.heroText {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--inputs);
}

.heroBtn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  border-radius: 200px;
  background-color: var(--button);
  padding: 16px 48px;
  transition: background-color 0.3s ease-in-out;
}

.heroBtn:hover,
.heroBtn:focus {
  background-color: var(--button-hover);
}
