.notFoundContainer {
  width: 1440px;
  margin: 0 auto;
  padding: 80px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.notFoundTitle {
    font-weight: 500;
font-size: 48px;
line-height: 0.66;
}
.notFoundDescription {
    color: var(--text);
}
