.btn {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-width: 112px;
  min-height: 96px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
}

.active {
  border-color: var(--button);
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  max-width: 80px;
}
