.loadMoreBtn {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  min-width: 112px;
  min-height: 96px;
  border: 1px solid var(--gray-light);
  border-radius: 12px;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  border-color: var(--button);
}
