.catalogContainer {
  width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}

.catalogSubContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  padding-top: 48px;
  padding-right: 26px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.RVWrapper {
  width: 100%;
}
