.rvInfoHeader {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.rvName {
  font-size: 24px;
  line-height: 1.33;
}

.rvInfoHeaderDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rvInfoReviewrsLocation {
  display: flex;
  gap: 16px;
}

.rvInfoReviewrsLocationWrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.rvInfoReviewrsLocationText {
  font-size: 16px;
  line-height: 1.5;
}

.rvPrice {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}
